name: Dependency Review

on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.1.7
      - name: Dependency Review
        uses: actions/dependency-review-action@5b5d36e22ba7a744453a7738621580252c8814bd # v4.3.3
        with:
          # Fail if severity is high or critical
          fail-on-severity: high
