name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  id-token: write # Required for SLSA provenance generation

jobs:
  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5.0.2
        with:
          go-version: "1.22"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5.0.0
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOROOT: /usr/local/go
          GOPATH: /home/runner/go
        
      - name: Generate SLSA provenance
        uses: slsa-framework/slsa-github-generator@v1.10.0
        with:
          attestation_subject_path: "dist/*"